<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 生物识别权限 -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!-- Android 11+ 面容识别需添加（可选） -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".base.BaseApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeDemoApp">
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:configChanges="uiMode|orientation|screenSize|navigation|screenLayout|smallestScreenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeDemoApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:priority="1">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>
        </activity>

        <activity
            android:configChanges="uiMode|orientation|screenSize|navigation|screenLayout|smallestScreenSize"
            android:name=".web.WebViewActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>